{% load i18n %}

<!-- search form begin -->
<div class="toolbar">
<form
    name="form-search-query"
    action="__search__/"
    method="POST"
>
    {% if error %}
        <ul class="errorlist">
            <li>
                {% ifequal error "parsing_error" %}
                    Invalid query string.
                {% endifequal %}
            </li>
        </ul>
    {% endif %}
	 <label for="id_keyword"><img src="/media/img/admin/icon_searchbox.png" alt="Search" /></label>
    {{form.query}}
    {{form.page}}
    &nbsp;
    <input class="submit" type="submit" name="search" value="{% trans "Search" %}" />
	 <a
			href="http://lucene.apache.org/java/docs/queryparsersyntax.html"
		>Help on Lucene Query Syntax.</a>
    <div style="clear:both;"></div>
</form>
</div>
<!-- search form end -->

<script type="text/javascript">
setTimeout(
    function()
    {
        document.getElementById("id_query").select();
        document.getElementById("id_query").focus();
    },
    100
);
</script>
