<style type="text/css">
.highlight
{
    background-color: #dceaa3;
}

.exception pre.literal-block
{
    font-size:medium;
    background:#E0FFB8;
    border:1px solid #94da3a;
    border-width:1px 0;
    margin: 1em 0;
    padding: .3em .4em;
    overflow: auto;
}

.toolbar
{
	padding: 3px;
	margin-bottom: 0.5em;
	border-bottom:1px solid #ddd;
	background:#e1e1e1 url(/media/img/admin/nav-bg.gif) top left repeat-x;
	color:#666;
}
.toolbar form input
{
	font-size:11px;
	padding:1px 2px;
}

.toolbar #id_query
{
	width: 50%;
}

.toolbar .submit img
{
	vertical-align:middle;
}

.table-search th
{
	text-align: right;
}

</style>
